<div class="container mt-5">
  <div class="card"  style="padding: 20px">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

      <input type="text"
      ngModel
      name="username"
      id="username"
      placeholder="Enter your username"
             class="form-control mb-3"
      >

      <input type="password"
             ngModel
             name="password"
             id="password"
             placeholder="Enter your password"
             class="form-control mb-3"
      >

      <input type="submit"
             value="login"
             class="btn btn-outline-primary form-control rounded-0"
             >
    </form>
  </div>
</div>
